.observationForm {
  display: block;
  text-align: center;
  width: 300px;
  margin: auto;
}

.observationForm label {
  display: inline-block;
  color: #fff;
  width: 20%;
  padding: 3px;
  text-align: left;
}

.observationForm input,
.observationForm select {
  display: inline-block;
  width: 80%;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  border: 1px solid #222222;
  border-radius: 5px;
  box-sizing: border-box;
}

.observationForm button {
  color: #fff;
  background-color: #288246;
  width: 100%;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  border: 1px solid #222222;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}