.observations {
  width: 100%;
}

.ReactTable {
  max-width: 40%;
  color: #fff;
  background-color: #303030;
  margin-left: auto;
  margin-right: auto;
}

.ReactTable .rt-thead {
  font-weight: bold;
  background-color: #404040;
}

.observations .ReactTable .-pagination .-btn  {
    color: #fff;
}

.observations .ReactTable .-pagination input,
.observations .ReactTable .-pagination select {
    color: #fff;
    background-color: #303030;
}