.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #222222;
}

h1, h2 {
  color: #fff;
}

p {
  color: #fff;
}

.about p {
  font-size: 28px;
}