.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #222222;
}

h1, h2 {
  color: #fff;
}

label {
  color: #fff;
}

.Form  {
  display: block;
  text-align: center;
}

.Form label {
  display: inline-block;
  width: 50px;
  padding: 3px;
  margin-right: 5px;
  text-align: right;
}

.Form input, .Form select {
  display: inline-block;
  width: 175px;
  padding: 5px;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
  border:1px solid #222222;
  margin: 5px 50px 5px 0;
}

.Form button {
  width: 100px;
  padding: 5px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: white;
  background: #285a37;
}

nav .title {
  font-size: 20px;
  margin: .5rem;
}

.navlinks {
  width: 100%;
}

.navlinks ul {
  display: flex;
}

.navlinks li {
  list-style: none;
}

.navlinks a {
  color: #fff;
  font-size: large;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

.navlinks a:hover {
  background-color: #222222;
}

.navloginlink a {
  color: white;
  font-size: large;
  text-decoration: none;
  padding: .5rem;
  margin-right: 5px;
  display: block;
  border-radius: 5px;
  border: 1px;
  background-color: #303030;
}

.navloginlink a:hover {
  background-color: #222222;
}