.register {
  margin: auto;
  width: 250px;
  justify-content: center;
}

.register input,
.register select {
  width: 100%;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  border: 1px solid #222222;
  border-radius: 5px;
  box-sizing: border-box;
}

.register button {
  color: #fff;
  background-color: #288246;
  width: 100%;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  border: 1px solid #222222;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.register .registerLink {
  text-align: right;
}

.register span {
  color: #fff;
}

.register a {
  text-decoration: none;
}